<div class="container">
  <h1>Coach's Answer</h1>

  <div class="answer-container">
    <p><strong>Question:</strong> <%= @question %></p>
    <p><strong>Answer:</strong> <%= @answer %></p>
  </div>

  <%= link_to 'Ask another question', ask_path %>
</div>
